<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
<title>Captura</title>
  <style>
    canvas {
      border: 2px solid #2e7d32;
      border-radius: 10px;
      
    }
    #status {
        margin: 20px;
        font-size: 1.2em;
        color: #2e7d32;
    }
    
    
    #startBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #2e7d32;
      color: white;
      padding: 20px;
      border: none;
      border-radius: 4px;
      font-size: 30px;
      cursor: pointer;
      z-index: 10;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }

    #startBtn:hover {
        background-color: #1b5e20;
    }

    #progressIndicator {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      color: black;
      margin-bottom: 20px;
    }

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .step .icon {
      font-size: 24px;
      margin-bottom: 4px;
    }

    .step .label {
      font-size: 22px;
    }

    .step .thumbnail {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border: 2px solid white;
      border-radius: 20px;
    }
    #controls {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
    }

    .btn {
      padding: 20px;
      border: none;
      border-radius: 6px;
      font-size: 30px;
      cursor: pointer;
      width: 40%;
    }

    .btn-gray {
        background-color: #ccc;
        color: #333;
    }

    .btn-green {
        background-color: #4CAF50;
        color: white;
    }

    .btn:hover {
        opacity: 0.9;
    }
  </style>
</head>
<body style="text-align: center;font-family: system-ui;color:#2e7d32">
    <h1 style="margin: 30px;">Captura para {{ student_name }}</h1>

    <div id="progressIndicator">
      <div class="step" id="step-left">
        <span class="icon">❌</span>
        <span class="label">Esquerda</span>
        <img id="thumb-left" src="" alt="Miniatura Esquerda" class="thumbnail" style="display:none;">
      </div>
      <div class="step" id="step-front">
        <span class="icon">❌</span>
        <span class="label">Frente</span>
        <img id="thumb-front" src="" alt="Miniatura Frente" class="thumbnail" style="display:none;">
      </div>
      <div class="step" id="step-right">
        <span class="icon">❌</span>
        <span class="label">Direita</span>
        <img id="thumb-right" src="" alt="Miniatura Direita" class="thumbnail" style="display:none;">
      </div>
    </div>
    
    <div id="video-container">
      <video id="video" playsinline style="display: none;"></video>
      <div style="position: relative; width: 780px; height: 780px; margin: auto;">
        <canvas id="canvas" width="780" height="780" style="position: absolute; top: 0; left: 0; z-index: 1;"></canvas>
        <canvas id="overlay" width="780" height="780" style="position: absolute; top: 0; left: 0; z-index: 2; pointer-events: none;"></canvas>
        <button id="startBtn">Iniciar Captura</button>
      </div>
    </div>

    <div id="controls">
      <button id="retomar-btn" class="btn btn-gray">Retomar Fotos</button>
      <button id="finalizar-btn" class="btn btn-green">Finalizar</button>
  </div>
    

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.16.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
<script src="https://docs.opencv.org/3.4.0/opencv.js" type="text/javascript"></script>

<script>
const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
const overlay = document.getElementById('overlay');
const ctxOverlay = overlay.getContext('2d');

let model;

// Adicione no topo
let positionTimers = { 'Frente': 0, 'Esquerda': 0, 'Direita': 0 };
const HOLD_DURATION = 1000; // 1 segundo em ms
let lastCaptured = { 'Frente': false, 'Esquerda': false, 'Direita': false };

// Parâmetros fixos do estudante (ou preencha de algum form)
const studentId = "{{ student_id }}";
const studentName = "{{ student_name }}";

function isImageBlurry(imageMat, threshold = 80) {
  const gray = new cv.Mat();
  cv.cvtColor(imageMat, gray, cv.COLOR_RGBA2GRAY, 0);
  const laplacian = new cv.Mat();
  cv.Laplacian(gray, laplacian, cv.CV_64F);
  const mean = new cv.Mat();
  const stddev = new cv.Mat();
  cv.meanStdDev(laplacian, mean, stddev);
  const variance = stddev.doubleAt(0, 0) ** 2;
  gray.delete(); laplacian.delete(); mean.delete(); stddev.delete();
  console.log("Variância da imagem:", variance);
  return variance < threshold;
}

function isImageTooDark(imageMat, threshold = 50) {
  const gray = new cv.Mat();
  cv.cvtColor(imageMat, gray, cv.COLOR_RGBA2GRAY, 0);
  const mean = cv.mean(gray);
  gray.delete();
  return mean[0] < threshold;
}

function removeEmbeddings() {
  fetch('http://localhost:5003/update_embeddings', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      student_id: studentId
    })
  }).then(res => {
    console.log(`Embeddings removidas com sucesso! Student ID: ${studentId}`);
  }).catch(err => {
    console.error('Erro ao remover embeddings:', err);
  });
}

// Função para capturar a região e enviar
function captureAndSend(position, box) {
  const [x1, y1, x2, y2] = box;
  const width = x2 - x1;
  const height = y2 - y1;

  // Cria um canvas temporário para recortar a região da face
  const faceCanvas = document.createElement('canvas');
  faceCanvas.width = width;
  faceCanvas.height = height;
  const faceCtx = faceCanvas.getContext('2d');

  faceCtx.drawImage(canvas, x1, y1, width, height, 0, 0, width, height);

  
  // Converte para OpenCV
  let src = cv.imread(canvas);

  // Valida qualidade
  if (isImageBlurry(src)) {
    alert('A imagem está borrada. Por favor, ajuste a câmera e tente novamente.');
    src.delete();
    return false;
  }
  if (isImageTooDark(src)) {
    alert('A imagem está muito escura. Por favor, ajuste a iluminação e tente novamente.');
    src.delete();
    return false;
  }
   
  const imageData = faceCanvas.toDataURL('image/jpeg');

  fetch('http://localhost:5003/process_frame', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      image: imageData,
      student_id: studentId,
      student_name: studentName,
      position: position
    })
  }).then(res => {
    console.log(`Foto ${position} enviada com sucesso!`);
  }).catch(err => {
    console.error('Erro ao enviar:', err);
  });

  // Limpa o canvas temporário
  faceCanvas.remove();
  // Libera a memória do OpenCV
  src.delete();
  
  return true;
}


async function setupCamera() {
  const stream = await navigator.mediaDevices.getUserMedia({
    video: { 
        width: { ideal: 1280 }, 
        height: { ideal: 720 }, 
        facingMode: "user" 
    },
    audio: false
  });
  video.srcObject = stream;
  return new Promise((resolve) => {
    video.onloadedmetadata = () => resolve(video);
  });
}

async function main() {
  ret = confirm("Esse processo substituirá os rostos gravados anteriormente. Deseja realmente iniciar a captura?");
  if (ret === false) {
    return;
  }
  document.getElementById('startBtn').style.display = 'none';
  await setupCamera();
  video.play();
  model = await blazeface.load();
  requestAnimationFrame(processFrame);
  removeEmbeddings();
}

let lastPredictions = [];
let noFaceCounter = 0;
const NO_FACE_THRESHOLD = 5; // Espera 5 frames sem face antes de limpar


async function processFrame() {
  ctx.clearRect(0, 0, canvas.width, canvas.height);

  const vidW = video.videoWidth;
  const vidH = video.videoHeight;
  const cropSize = 720;

  const cropX = (vidW - cropSize) / 2;
  const cropY = (vidH - cropSize) / 2;


  ctx.save();
  ctx.translate(canvas.width, 0);
  ctx.scale(-1, 1);
  ctx.drawImage(video, cropX, cropY, cropSize, cropSize, 0, 0, canvas.width, canvas.height);
  ctx.restore();

  const inputTensor = tf.browser.fromPixels(canvas);
  const predictions = await model.estimateFaces(inputTensor, false);
  inputTensor.dispose();

  if (predictions.length > 0) {
    lastPredictions = predictions;
    noFaceCounter = 0;
  } else {
    noFaceCounter++;
  }

  ctxOverlay.clearRect(0, 0, overlay.width, overlay.height);

  if (lastPredictions.length > 0 && noFaceCounter < NO_FACE_THRESHOLD) {
    lastPredictions.forEach(pred => {
      const [x1, y1] = pred.topLeft;
      const [x2, y2] = pred.bottomRight;
      const boxW = x2 - x1;
      const boxH = y2 - y1;

      if (boxW < 300) {
        ctxOverlay.fillStyle = 'red';
        ctxOverlay.font = "34px Arial";
        ctxOverlay.fillText("Aproxime-se da câmera", x1, y1 - 10);
        return;
      } 
      if (boxW > 400) {
        ctxOverlay.fillStyle = 'red';
        ctxOverlay.font = "34px Arial";
        ctxOverlay.fillText("Afaste-se um pouco", x1, y1 - 10);
        return;
      } 
    
      // BlazeFace retorna landmarks (6 pontos):
      // [ right eye, left eye, nose, mouth right, mouth left, mouth center ]
      const landmarks = pred.landmarks;
      const rightEye = landmarks[0];
      const leftEye = landmarks[1];
      const nose = landmarks[2];

      const eyeCenterX = (rightEye[0] + leftEye[0]) / 2;
      const noseX = nose[0];

      const offset = noseX - eyeCenterX;

      let boxColor = 'red';
      let position = '';

      if (offset < -45 && offset > -70) {
        boxColor = 'orange'; // Olhando esquerda
        position = 'Esquerda';
        stepId = 'step-left';
        thumbId = 'thumb-left';
      } else if (offset > 15 && offset < 40) {
        boxColor = 'blue'; // Olhando direita
        position = 'Direita';
        stepId = 'step-right';
        thumbId = 'thumb-right';
      } else if (offset < 10 && offset > -40) {
        boxColor = 'lime'; // Centro
        position = 'Frente';
        stepId = 'step-front';
        thumbId = 'thumb-front';
      }

      ctxOverlay.strokeStyle = boxColor;
      ctxOverlay.lineWidth = 3;
      ctxOverlay.strokeRect(x1, y1, boxW, boxH);
      ctxOverlay.font = "30px Arial";
      ctxOverlay.fillStyle = boxColor;
      ctxOverlay.fillText(position, x1, y1 - 5);

      const now = Date.now();

      ['Frente', 'Esquerda', 'Direita'].forEach(pos => {
        if (pos === position) {
            const elapsed = now - positionTimers[pos];
            if (positionTimers[pos] === 0) {
              positionTimers[pos] = now; // Inicia o timer
            } else if (elapsed < 2000) {
              console.log(`Posição ${pos} detectada por ${now - positionTimers[pos]} ms`);
              if (elapsed >= HOLD_DURATION && !lastCaptured[pos]) {
                console.log(`Capturando ${pos}...`);
                if (captureAndSend(pos, [x1, y1, x2, y2])){

                  lastCaptured[pos] = true; // Marca que já capturou
  
                  // Atualiza ícone
                  const stepElement = document.getElementById(stepId);
                  const iconElement = stepElement.querySelector('.icon');
                  iconElement.textContent = '✅';
                  iconElement.style.color = 'limegreen';
  
                  // Atualiza miniatura
                  const thumbElement = document.getElementById(thumbId);
                  const photoDataUrl = canvas.toDataURL('image/png');
                  thumbElement.src = photoDataUrl;
                  thumbElement.style.display = 'block';
                } else {
                  positionTimers[pos] = now; // Inicia o timer novamente
                }
              }
            }
        } else {
            positionTimers[pos] = 0; // Reseta se mudou de posição
        }
        });
    });
  }

  requestAnimationFrame(processFrame);
}

const retomarBtn = document.getElementById('retomar-btn');
const finalizarBtn = document.getElementById('finalizar-btn');

// Reset indicators e miniaturas
retomarBtn.addEventListener('click', () => {
    // Resetar ícones
    document.querySelectorAll('.icon').forEach(icon => {
      icon.textContent = '❌';
      icon.style.color = 'red';
    });

    // Remover miniaturas
    document.querySelectorAll('.thumbnail').forEach(thumb => thumb.style.display = 'none');

    lastCaptured = { 'Frente': false, 'Esquerda': false, 'Direita': false };
    positionTimers = { 'Frente': 0, 'Esquerda': 0, 'Direita': 0 };

    console.log("Indicadores e miniaturas resetados!");
});

// Finalizar fotos
finalizarBtn.addEventListener('click', async () => {
    
    document.getElementById('video-container').style.display = 'none';
    console.log("Processo finalizado com 6 imagens!");
});




document.getElementById('startBtn').addEventListener('click', () => {
    main();
});
</script>

</body>
</html>